services:
  - type: web
    name: ams-accommodation
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn harmony_housing.wsgi:application"
    envVars:
      - key: DEBUG
        value: "False"
      - key: USE_SUPABASE
        value: "True"
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: "3.12.0"
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
